---
- name: Mapeo limpio de IP y Nombre
  hosts: nodes
  gather_facts: no
  tasks:
    - name: Ejecutar nslookup y filtrar solo la IP
      # Usamos awk para extraer la línea que empieza por 'Address' (excluyendo el puerto/servidor DNS)
      shell: "nslookup {{ item }} | grep -A 1 'Name:' | grep 'Address:' | awk '{print $2}'"
      delegate_to: localhost
      run_once: true
      loop: "{{ groups['nodes'] }}"
      register: nslookup_results

    - name: Añadir los nodos al archivo hosts real
      become: yes
      blockinfile:
        path: /etc/hosts
        block: |
          {% for r in hostvars[groups['nodes'][0]]['nslookup_results']['results'] %}
          {{ r.stdout }} {{ r.item }}
          {% endfor %}
        marker: "# {mark} ANSIBLE MANAGED NODES"
