---
- name: Preparar nodos para Kubernetes
  hosts: nodes
  become: yes
  any_errors_fatal: true
  tasks:
    - name: 1. Desactivar SWAP (Requerido por K8s)
      shell: |
        swapoff -a
        sed -i '/ swap / s/^\(.*\)$/#\1/g' /etc/fstab
      tags: task1

    - name: 2. Cargar m칩dulos en la sesi칩n actual
      community.general.modprobe:
        name: "{{ item }}"
        state: present
      loop:
        - overlay
        - br_netfilter
      tags: task2

    - name: 2.1. Configurar carga de m칩dulos overlay y br_netfilter al arranque
      ansible.builtin.copy:
        dest: /etc/modules-load.d/k8s.conf
        content: |
          overlay
          br_netfilter
        mode: "0644"
      tags: task2

    - name: 3.1. net.bridge.bridge-nf-call-iptables
      ansible.builtin.sysctl:
        name: net.bridge.bridge-nf-call-iptables
        value: 1
        state: present
        reload: yes
      tags: task3

    - name: 3.2. net.bridge.bridge-nf-call-ip6tables
      ansible.builtin.sysctl:
        name: net.bridge.bridge-nf-call-ip6tables
        value: 1
        state: present
        reload: yes
      tags: task3

    - name: 3.3. net.ipv4.ip_forward
      ansible.builtin.sysctl:
        name: net.ipv4.ip_forward
        value: 1
        state: present
        reload: yes
      tags: task3

    - name: 4. Instalar dependencias de sistema y herramientas
      apt:
        name: [apt-transport-https, ca-certificates, curl, gpg, vim]
        state: present
        update_cache: yes
      tags: task4

    - name: 5. A침adir Repositorio oficial de Kubernetes
      shell: |
        mkdir -p /etc/apt/keyrings
        curl -fsSL https://pkgs.k8s.io/core:/stable:/v1.31/deb/Release.key | gpg --dearmor -o /etc/apt/keyrings/kubernetes-apt-keyring.gpg
        echo 'deb [signed-by=/etc/apt/keyrings/kubernetes-apt-keyring.gpg] https://pkgs.k8s.io/core:/stable:/v1.31/deb/ /' | tee /etc/apt/sources.list.d/kubernetes.list
      args:
        creates: /etc/apt/sources.list.d/kubernetes.list
      tags: task5

    - name: 6. Instalar herramientas de K8s (Kubeadm, Kubelet)
      apt:
        name: [conntrack, containerd, kubelet, kubeadm, kubectl]
        state: present
        update_cache: yes
      tags: task6

    - name: 7. Configurar Containerd (SystemdCgroup)
      ansible.builtin.shell:
        cmd: |
          mkdir -p /etc/containerd
          containerd config default > /etc/containerd/config.toml
      args:
        creates: /etc/containerd/config.toml
      tags: task7

    - name: 8. Activar SystemdCgroup en el TOML
      ansible.builtin.replace:
        path: /etc/containerd/config.toml
        regexp: "SystemdCgroup = false"
        replace: "SystemdCgroup = true"
      register: containerd_updated
      tags: task8

    - name: 9. Reiniciar servicios
      ansible.builtin.systemd:
        name: "{{ item }}"
        state: restarted
        enabled: yes
      loop: [containerd, kubelet]
      when: containerd_updated.changed
      tags: task9
