version: 2
ethernets:
  all_interfaces:
    match:
      name: "en*"  # Esto captura ens2, enp1s0, eth0, etc.
    set-name: eth0 # Forzamos un nombre predecible si quieres
    addresses:
      - {{ vm_ip }}/24
    nameservers:
      addresses: [8.8.8.8, 1.1.1.1]
    routes:
      - to: default
        via: {{ bridge_gw }}
