apiVersion: v1
kind: ConfigMap
metadata:
  name: apisix-conf
  namespace: apisix
data:
  config.yaml: |
    apisix:
      node_listen: 8080

    deployment:
      admin:
        allow_admin:
          - 0.0.0.0/0
        admin_key:
          - name: admin
            key: edd1c9f034335f136f87ad84b625c8f1
            role: admin

      etcd:
        host:
          - "http://etcd-headless.apisix.svc.cluster.local:2379"
